.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 150px 90px 70px 90px;
}

.introduction h2 {
  color: var(--emphasis);
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 50px;
}

.introduction p {
  text-align: center;
}

.skills-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.skill-unit {
  width: calc(30% - 50px);
  text-align: justify;
}

.skill-unit h3 {
  font-size: 20px;
  font-weight: 700;
  color: var(--emphasis);
  text-align: center;
  margin: 30px 0;
}

.skill-unit-icon {
  display: flex;
  justify-content: center;
}
