:root {
  --neutral-light: hsl(0, 0%, 100%);
  --neutral-light-variant: hsl(0, 0%, 81%);
  --neutral-medium: hsl(184, 9%, 62%);
  --neutral-medium-variant: hsl(180, 8%, 90%);
  --neutral-dark: hsl(168, 48%, 31%);
  --emphasis: hsl(168, 76%, 42%);
  --emphasis-trans: hsla(168, 76%, 42%, 0.5);
  --background-light: hsl(0, 0%, 96%);
}
