footer {
  height: 240px;
  background-color: var(--emphasis);
}

.social-icons-container {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin-top: -30px;
}

.social-icon {
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-light);
  color: var(--emphasis);
  box-shadow: 0 0 0 6px var(--emphasis-trans);
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition: transform 0.4s ease;
}

.social-icon:hover {
  transform: scale(0.95);
}

.legal-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.legal-info p,
.legal-info a {
  color: var(--neutral-light);
  font-size: 24px;
}

.legal-info a {
  transition: 0.4s ease;
}

.legal-info a:hover {
  color: var(--neutral-medium-variant);
  transform: scale(0.95);
  transition: 0.4s ease;
}
