html {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
}

.wraper {
  width: 960px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font: 60px "Rokkitt", serif;
  color: var(--neutral-light);
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--neutral-light);
}

a {
  color: var(--neutral-light);
  text-decoration: none;
}
