html {
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  font-family: "PT Sans", sans-serif;
}

.wraper {
  width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button,
input[type="submit"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

h1 {
  font: 60px "Rokkitt", serif;
  color: var(--neutral-light);
  margin-bottom: 20px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--neutral-light);
  text-align: center;
}

h2 {
  text-align: center;
}

a {
  color: var(--neutral-light);
  text-decoration: none;
}

p {
  color: var(--neutral-medium);
  font-size: 18px;
  line-height: 1.5;
}

.btn-primary {
  font: 300 24px "Rokkitt", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 215px;
  height: 55px;
  background-color: var(--emphasis);
  color: var(--neutral-light);
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  z-index: 2;
  transition: 0.4s;
}

.btn-primary:hover {
  color: var(--emphasis);
}

.btn-primary::before,
.social-icon::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 0;
  border-color: var(--neutral-light) transparent transparent transparent;
  transition: 0.8s ease border-width;
  z-index: -1;
}

.btn-primary:hover.btn-primary::before,
.social-icon:hover.social-icon::before {
  border-width: 300px 300px 0 0;
}

@media only screen and (max-width: 1400px) {
  .wraper {
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 46px;
  }
}
