header {
  margin-top: 50px;
  padding-bottom: 15px;
  position: fixed;
  width: 100%;
  color: var(--neutral-light);
  z-index: 2;
}

header .wraper {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  column-gap: 25px;
  text-transform: uppercase;
}

header a {
  text-transform: uppercase;
}
