@import url(general.css);
@import url(colors.css);
@import url(header.css);
@import url(hero.css);
@import url(about-me.css);
@import url(portfolio.css);
@import url(contact.css);
@import url(footer.css);
